/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #af0fcf;
    line-height: 1.1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #7a0aad;
}

/* Header */
header {
    background: #5c0397;
    color: #f8f2f785;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Profile Section */
#profile {
    padding: 120px 20px 60px;
    background: #f4f4f4;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 4px solid #333;
}

/* Skills Section */
#skills .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.skill {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.skill img {
    height: 200px;
}

/* Hobbies Section */
#hobbies .hobbies-list {
    list-style: none;
    padding: 0;
    font-size: 1.2rem;
}

#hobbies .hobbies-list li {
    margin: 10px 0;
}

#hobbies .hobbies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.hobby {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hobby img {
    height: 200px;
}

/* Education Section */
#education .education-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.education-item {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Socials Section */
#socials .socials-list {
    list-style: none;
    padding: 0;
}

#socials .socials-list li {
    margin: 10px 0;
}

#socials .socials-list li a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
}

#socials .socials-list li a:hover {
    color: #007BFF;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
